altgraph==0.17.5
appdirs==1.4.4
backcall==0.2.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
decorator==5.2.1
distlib==0.4.0
emoji==2.15.0
filelock==3.20.0
Flask==3.1.2
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
future==1.0.0
greenlet==3.3.0
gunicorn==23.0.0
ipykernel==6.31.0
ipython==9.8.0
ipython-genutils==0.2.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jupyter-client==8.7.0
jupyter-core==5.9.1
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
parso==0.8.5
pefile==2024.8.26
pickleshare==0.7.5
prompt-toolkit==3.0.52
pygame==2.6.1
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
pyzmq==27.1.0
six==1.17.0
SQLAlchemy==2.0.45
tornado==6.5.3
traitlets==5.14.3
virtualenv==20.35.4
wcwidth==0.2.14
Werkzeug==3.1.4
